@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #151515;
    --secondary-color: #fff;
    --accent-color:#4caf50;
    --background-color:#0a0a0a;
    --highlight-color:#f0e68c;
  }


.correct{
    color:#48c166;
}

.incorrect{
    color:#ef4444;
    
}

.missed{
    color:gray
}

.mistyped{
    text-decoration: underline;
    text-decoration-color: #ef4444;
    text-decoration-thickness: 0.1rem;
}

.op-cursor {
    background-color: red;
}


.extra{
    opacity: 0.6;
}