@tailwind base;
@tailwind components;
@tailwind utilities;

.correct{
    color:#48c166;
}

.incorrect{
    color:#ef4444;
    
}

.mistyped{
    text-decoration: underline;
    text-decoration-color: #ef4444;
    text-decoration-thickness: 0.1rem;
}

.extra{
    opacity: 0.7;
}