@tailwind base;
@tailwind components;
@tailwind utilities;

.correct{
    color:#48c166;
}

.incorrect{
    color:#ef4444;
    
}

.missed{
    color:gray
}

.mistyped{
    text-decoration: underline;
    text-decoration-color: #ef4444;
    text-decoration-thickness: 0.1rem;
}

.op-cursor {
    background-color: red;
}

.cursor {
    background-color: cyan;
}

.extra{
    opacity: 0.6;
}